<%= form_with model: article do |form| %>
  <div>
    <p><%= form.label :title %></p>
    <p><%= form.text_field :title %></p>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <p><%= form.label :body %></p>
    <p><%= form.textarea :body %></p>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
