<div class="articles-index">
  <div class="container">
    <h1>Articles</h1>

    <p>
      Our blog has
      <%= pluralize(Article.public_count, "article") %>
      and counting
      <%= button_to "New Article", new_article_path, method: :get %>
    </p>
  </div>

  <div class="container articles">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <article class="article-item">
          <h3><%= article.title %></h3>
          <p><%= article.body.truncate(200) %></p>

          <p style="font-size: small"><%= pluralize(article.comments.count, "comment") %></p>

          <p><%= button_to "Read more", article, method: :get %></p>
        </article>
      <% end %>
    <% end %>
  </div>
</div>
