<div>
  <%= render "article_links", action: :show %>
</div>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment</h2>
<%= render "comments/form", article: @article %>
