<div>
  <%= render "article_links", action: :show %>
</div>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h2>Comments</h2>
<% if Comment.public_count == 0 %>
  <%= "No comments" %>
<% else %>
  <%= render @article.comments %>
<% end %>

<h2>Add a comment</h2>
<%= render "comments/form", article: @article %>
